/* =============
    Header
============= */
#header {
    background-image: url('../img/header/sun.jpg');
    background-size: cover
    background-repeat: no-repeat
    background-position: center;
    height: 684px;
}
  